.box-container {
    text-align: center;
    padding: 12px 8px;
    border-radius: 3rem;
    margin-bottom: 5px;
    border: solid 2px rgb(170, 155, 155);
}

.color-preview {
    margin-left: 10px;
    border-radius: 50%;
    border: solid thin #000000;
    display: inline-block;
    width: 14px;
    height: 14px;
}

.button-container {
    font-size: 0.75em;
}

.button {
    margin-right: 10px;
    color: rgb(0, 0, 0);
}